<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>group.com.mconsultants.Notester</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.65296067042-jddvmapqk97lpdao82mfm11m6kifr7ja</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>65296067042-jddvmapqk97lpdao82mfm11m6kifr7ja.apps.googleusercontent.com</string>
	<key>NSExtensionActivationSupported</key>
	<string>NSExtensionActivationSupportsText
</string>
	<key>NSExtensionAttributes</key>
	<dict>
		<key>NSExtensionActivationRule</key>
		<dict>
			<key>NSExtensionActivationSupportsText</key>
			<true/>
			<key>NSExtensionActivationSupportsWebURLWithMaxCount</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>NSExtensionMainStoryboard</key>
	<string>MainInterface</string>
	<key>NSExtensionPointIdentifier</key>
	<string>com.apple.share-services</string>
<key>com.apple.security.application-groups</key>
<array>
    <string>group.com.mconsultants.Notester</string>
</array>
<key>NSAppTransportSecurity</key>
<dict>
    <key>NSAllowsArbitraryLoads</key>
    <true/>
</dict>
</dict>
</plist>
